
@using Microsoft.AspNetCore.Mvc.Rendering
@model Web.ViewModels.IndexViewModel
<link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" type="text/css" />
<table>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Subject.Mark</td>
            <td>@product.Subject.Model</td>
            <td>@product.Price</td>
            <td>@product.Count</td>
        </tr>
    }
</table>

<partial name="BuyForm" model="Model.BuyFormViewModel"/>

<partial name="SellForm" model="Model.SellFormViewModel"/>




