
@using Web.Mediator.Arguments
@model Web.Models.SellFormModel

<form asp-controller="Cars" asp-action="Sell" method="post" id="sell">
    <fieldset>
        <legend>
            Продажа
        </legend>
        
        <label>
            Введите марку:
            <select name="@nameof(SellRequestArguments.Mark)" asp-items="@(Model.Marks.Select(mark => new SelectListItem(mark, mark)))"></select>
        </label>
        
        <br/>
        
        <label>
            Введите модель:
            <select name="@nameof(SellRequestArguments.Model)" asp-items="@(Model.Models.Select(model => new SelectListItem(model ,model)))"></select>
        </label>
        
        <br/>
        
        <label>
            Количество:
            <input name="@nameof(SellRequestArguments.Count)" type="number" value="1" min = "0"/>
        </label>
        
        <br />
        <input type="submit" value="Отправить"/>
    
    
    </fieldset>
</form>


<script>
    document.addEventListener('DOMContentLoaded',
        () => {
            attach_handler(document.getElementById("sell"));
        });
  
</script>