@model AdminViewModel
@addTagHelper *, Web


<link href="@Url.Content("~/css/StyleSheet.css")" rel="stylesheet" type="text/css" />

<table>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Subject.Mark</td>
            <td>@product.Subject.Model</td>
            <td>@product.Price</td>
            <td>@product.Count</td>
            
            <td>
                <button asp-method="Delete" asp-controller="Admin" asp-action="Delete" asp-route-mark="@product.Subject.Mark", asp-route-model="@product.Subject.Model">Удалить</button>
                <button asp-method="Post" asp-controller="Admin" asp-action="Edit" asp-route-mark="@product.Subject.Mark", asp-route-model="@product.Subject.Model">Изменить</button>
            </td>
        </tr>
    }
</table>

<partial name="AddForm"/>